body{
	background-color: #e2f3ff;
}
label{
    margin-top:10px;
    margin-bottom:10px;
    font-size: 1.25em;
}

.navbar-text{
    color:#ffffff !important
}

.navbar .nav-link {
    color: #ffffff !important; /* Force white text */
}
.navbar-brand {
    color: #ffffff !important; /* Ensure logo text is white */
}

.navbar-bg {
    background-color: #804c1c;
}
.container-fluid{
	background-color: #e2f3ff;
	min-height: 400px;
}
.bottom-bg{
	background-color: #e2f3ff;
	min-height: 400px;
}
.btn-default{
    /* BS4 changed the appearance of btn-default on anchor tags.
      I liked the old way better... so that's
      what I am making happen here.  */
    background-color: #CCC;
    color: black;
    font-family: 'Georgia', serif;
}

.text-color{
    color: #025f60;
    font-family: 'Georgia', serif;
    font-size: 2em;
}

.text-button{
    color: #154040;
    font-family: 'Georgia', serif;
    font-size: 2em !important;
}

.btn {
    /*make text wrap nicely in buttons */
    white-space:normal;
}

.btn-teal {
    background-color: #40cdc3 !important ;
}

.btn-teal:hover {
    background-color: #34b1a8 !important; /* Slightly darker teal on hover */
}

.menu-button {
    margin: 40px 0 !important; /* Adds spacing between buttons */
    display: block; /* Makes sure buttons stack vertically */
}


.btn-spacing {
    margin-right: 40px; /* Adjust spacing as needed */
}

.locked {
    display: none !important; /*locked content must not be shown to user*/
}

.unlocked {
    border-width: initial; /*set border-width to whatever the default is. */
}

.secured {
    border-width: initial; /*set border-width to whatever the default is. */
}

.table .btn-primary {
    color: white !important;
    background-color: #0d6efd !important;  /* Bootstrap's default primary color */
}

#table-items tr{
    border: 10px solid #804c1c !important; /* Adds a bottom border to each row */
    padding: 10px;
    background-color: #c49d79; /* Replace with your desired color */
} 
#table-mylibrary tr{
    border: 10px solid #804c1c !important; /* Adds a bottom border to each row */
    padding: 10px;
    background-color: #c49d79; /* Replace with your desired color */
} 
.book-cover-button {
    width: 100px; /* Set size */
    height: 150px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}

.additeminput {width:100%; height: 40px}
